body {
    padding: 10px 15px;
}

.proxy-enable {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 5px;
    height: 24px;
    line-height: 24px;
}

.proxy-settings {
    margin-top: 10px;
}

.proxy-settings .address-input {
    width: 15em;
}

.proxy-settings .port-input {
    width: 5em;
}

.button-icon {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: opacity .2s;
}

.button-icon:hover {
    opacity: .6;
}
